.card {
    background-color: hsl(199, 100%, 50%);    
    width: 20rem;
    height: 35rem;
    box-shadow: 1.2rem 1.2rem 2rem var(--color-grey-dark-3);
    &__count-number {
        text-align: center;
        background-color: hsl(199, 100%, 70%);
        font-weight: 700;
        font-size: 8rem;
        color: white;
        margin: 1.5rem;
        border: solid 0.5rem var(--color-grey-light-1);
    }
}