.container {
    max-width: 70vw;
    margin: 10vh auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    min-height: 80vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}