/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: -webkit-gradient(linear, left top, right bottom, from(var(--color-primary-light)), to(var(--color-primary-dark)));
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.container {
  max-width: 70vw;
  margin: 10vh auto;
  background-color: var(--color-grey-light-1);
  -webkit-box-shadow: var(--shadow-dark);
          box-shadow: var(--shadow-dark);
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  margin: 1vw;
  background-color: #00aeff;
  width: 20rem;
  height: 35rem;
  -webkit-box-shadow: 1.2rem 1.2rem 2rem var(--color-grey-dark-3);
          box-shadow: 1.2rem 1.2rem 2rem var(--color-grey-dark-3);
  position: relative;
}

.card__count-number {
  text-align: center;
  background-color: #66cfff;
  font-weight: 700;
  font-size: 8rem;
  color: white;
  margin: 1.5rem;
  border: solid 0.5rem var(--color-grey-light-1);
}

.card__count-total {
  text-align: center;
  background-color: #66cfff;
  font-weight: 700;
  font-size: 1.5rem;
  color: #3d3d3d;
  margin: 1.5rem;
  text-transform: capitalize;
}

.card__button {
  text-decoration: none;
  background-color: #3be2ff;
  border: outset 0.5rem #00c6e0;
  padding: 1rem 2rem;
  color: var(--color-grey-dark-1);
  position: absolute;
  top: 85%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 550;
  font-size: 1.75rem;
  text-transform: uppercase;
}

.card__button:hover {
  -webkit-box-shadow: 1rem 1rem 2rem var(--color-grey-dark-1);
          box-shadow: 1rem 1rem 2rem var(--color-grey-dark-1);
}

.card__button:active {
  -webkit-box-shadow: 0.5rem 0.5rem 1rem var(--color-grey-dark-1);
          box-shadow: 0.5rem 0.5rem 1rem var(--color-grey-dark-1);
}
/*# sourceMappingURL=main.css.map */